<div class="container">
	<a href="#" class="btn btn-primary" id="testBtn">Primary</a>
	<a href="#" class="btn btn-secondary" id="testBtn2">Secondary</a>
	<a href="#" class="btn btn-success" id="testBtn3">Success</a>
	<a href="#" class="btn btn-danger" id="testBtn4">Danger</a>
	<a href="#" class="btn btn-warning">Warning</a>
	<a href="#" class="btn btn-info">Info</a>
	<a href="#" class="btn btn-light">Light</a>
	<a href="#" class="btn btn-dark">Dark</a>
	<a href="#" class="btn btn-accent">Accent</a>
</div>