<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>Time Management App</title>
    
    <!-- Favorite icon-->
    <link rel="icon" type="image/icon" href="/img/logo.ico">
    
    <!-- Theme CSS-->
    <link rel="stylesheet" href="/css/theme/dark.css">
    <link rel="stylesheet" href="/css/theme/light.css">
    <link rel="stylesheet" href="/css/theme/page.css">
    <link rel="stylesheet" href="/css/theme/inputs.css">
    <link rel="stylesheet" href="/css/theme/cards.css">
    <link rel="stylesheet" href="/css/theme/modal.css">

    <!-- Font Awesome Icons-->
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Javascript Functions-->
    <!-- <script src="/js/toggleTheme.js"></script> -->

    <% if (typeof activePage !== 'undefined' && activePage == 'admin') { %>
    <!-- Admin CSS -->
    <!-- <link rel="stylesheet" href="/css/theme/admin.css"> -->
    <!-- Admin JS -->
    <script src="/js/admin/admin-client.js"></script>
    <% } %>
    <% if (typeof activePage !== 'undefined' && activePage == 'profile') { %>
    <!-- Account Profile JS -->
    <script src="/js/account.js"></script>
    <% } %>
    <% if (typeof activePage !== 'undefined' && activePage == 'contact') { %>
    <!-- Contact JS -->
    <script src="/js/contact.js"></script>
    <% } %>
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/navbar', { activePage: activePage, isAuthenticated: isAuthenticated, user: user }) %>

    <!-- Main Content -->
    <main>
        <%- body %>
    </main>

    <!-- Footer -->
    <%- include('partials/footer', { isAuthenticated: isAuthenticated }) %>
    

    <!-- Local JS files -->
    <!-- <script src="/js/bootstrap.bundle.js"></script> -->
    <script src="/js/dynamicPageSize.js"></script>

<!--     <div class="theme-toggle">
        <button id="themeToggle" aria-label="Toggle light or dark mode">
            <i class="fas fa-sun"></i>
        </button>
    </div> -->

    <!-- Include the main JavaScript file -->
    <script src="/js/main.js"></script>

<!-- Include the page(public) JavaScript file -->
<script src="/js/page.js"></script>

</body>
</html>
