/*
=========================================================
General purpose cards
========================================================= 
*/


.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

    .cards.cards-small {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

@media (max-width: 1000px) {
    .cards.cards-small {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(200px, 25%));
    }
}

@media (max-width: 768px) {
    .cards.cards-small {
        grid-template-columns: 50%, 50%;
        grid-template-columns: repeat(auto-fill, minmax(200px, 25%));
    }
}

.cards.cards-1 {
    grid-template-columns: 1fr;
}

.cards-1-2 {
    grid-template-columns: 1fr 2fr;
}

.cards-1-2-1 {
    grid-template-columns: 1fr 2fr 1fr;
}

.cards-1-3 {
    grid-template-columns: 1fr 3fr;
}

.cards-1-4 {
    grid-template-columns: 1fr 4fr;
}

.cards.cards-2 {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cards.cards-3 {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.cards.cards-4 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards.cards-5 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards.cards-tiny {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.cards .card {
    /*background-color: var(--dark-accent);*/
    /*box-shadow: var(--box-shadow);*/
    padding: 20px;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .cards .card:has(.card-header) {
        padding: 0;
    }

        .cards .card:has(.card-header) .card-body {
            padding: 0 2rem;
        }

        .cards .card:has(.card-header) .card-footer {
            padding: 1rem 2rem;
            height: 5rem;
        }

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

    .card-header h2 {
        margin: 0 !important;
    }

.card-icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 20px;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}

.cards-small .card-icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: inline-flex;
}

.cards-tiny .card-icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-flex;
}

.cards-small a.card .card-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 7px;
    font-size: 1rem;
}

.cards-medium .card-icon {
    border-radius: 15px;
    display: inline-flex;
}

.cards-small .button-group .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.cards-tiny .button-group .btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 400;
}

.cards-tiny h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.card h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.cards .card .card-footer {
    height: 60px;
}

.cards-small .card .card-footer {
    height: 50px;
}

.card-footer .button-group {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.card-footer .button-group-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: end;
    height: 100%;
}

.card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


/* Card styling with glass morphism effect */
.card {
    /*background-color: rgba(18, 25, 43, 0.7);*/

    background-color: rgba(18, 25, 43, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.card-narrow {
    max-width: 500px;
    margin: auto;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.card-header {
    color: white;
}

.card-header h2 i {
    /*color: var(--accent-color);*/
}


.card-icon {
    /*background: linear-gradient(45deg, var(--accent-color), var(--primary-color));*/
    background: linear-gradient(35deg, #00BCD4, #412b95, #9C27B0);
    color: var(--text-color);
    box-shadow: 0 10px 20px rgba(74, 108, 253, 0.2);
}

.card-content {
    flex: 1;
    position: relative;
    z-index: 1;
}

    .card-content h4 {
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-muted);
        margin-bottom: 10px;
    }

.card-value {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}
