    <div class="container container-full-width">
	<!-- Your existing admin content goes here without the backticks -->
	<div class="page-header">
		<h1 class="page-title">
			<i class="fas fa-user-shield"></i> Manager Panel
		</h1>
		<p class="page-subtitle">Manage leaves and time entries for users in your department.</p>
	</div>

	<div class="cards cards-4">

		<div class="card">
			<h2>
				<div class="card-icon">
					<i class="fa fa-users-cog"></i>
				</div>
				Leaves
			</h2>
			<div class="card-body">
				<p>Manage Leaves</p>
			</div>
			<div class="card-footer">
				<div class="button-group">
					<a href="/manager/leaves" class="btn btn-primary">Leaves</a>
				</div>
			</div>
		</div>

		<div class="card">
			<h2>
				<div class="card-icon">
					<i class="fa fa-users-between-lines"></i>
				</div>
				Manage Users (wip)
			</h2>
			<div class="card-body">
				<p>Manage users</p>
			</div>
			<div class="card-footer">
				<div class="button-group">
					<a href="/manager/users" class="btn btn-primary">Users</a>
				</div>
			</div>
		</div>
	</div>
</div>
