<div class="container">
    <div class="container main-content">
        <div class="page-header text-center">
            <h1><i class="fas fa-envelope-open-text"></i> Legal / Terms of Service</h1>
            <p class="lead">If you can't find any help in the FAQ, contact us here!</p>
        </div>
    </div>
</div>