<div class="cards cards-small">
	<a href="/admin/users" class="card">
		<h5>
			<div class="card-icon">
				<i class="fa fa-users-cog"></i>
			</div>
			Users
		</h5>
	</a>

	<a href="/admin/roles" class="card">
		<h5>
			<div class="card-icon">
				<i class="fa fa-users-between-lines"></i>
			</div>
			Roles
		</h5>
	</a>

	<a href="/admin/departments" class="card">
		<h5>
			<div class="card-icon">
				<i class="fa fa-building-user"></i>
			</div>
			Departments
		</h5>
	</a>

	<a href="/admin/policies" class="card">
		<h5>
			<div class="card-icon">
				<i class="fa fa-building-shield"></i>
			</div>
			Policies
		</h5>
	</a>
</div>